<footer>
  <div class="footer">
    <div class="flag-icons">

    </div>
    <div>
      <small class="text-muted">
        This demo app is developed by Tianyuan Cui Pan ("Anny")
        <a class="email" href="mailto:info@pandavisas.com"><i class="fas fa-envelope"></i></a>
      </small>
    </div>
  </div>
</footer>
